extensions:
    codeception.http: Arachne\Codeception\DI\HttpExtension
    arachne.containeradaper: Arachne\ContainerAdapter\DI\ContainerAdapterExtension
    arachne.servicecollections: Arachne\ServiceCollections\DI\ServiceCollectionsExtension
    arachne.entityloader: Arachne\EntityLoader\DI\EntityLoaderExtension
    arachne.eventdispatcher: Arachne\EventDispatcher\DI\EventDispatcherExtension
    enumag.application: Enumag\Application\DI\ApplicationExtension
    nette.application: Nette\Bridges\ApplicationDI\ApplicationExtension
    nette.cache: Nette\Bridges\CacheDI\CacheExtension( %tempDir% )
    nette.http: Nette\Bridges\HttpDI\HttpExtension
    oops.cachefactory: Oops\CacheFactory\DI\CacheFactoryExtension

nette.application:
    catchExceptions: false
    mapping:
        *: Tests\Functional\Fixtures\*Presenter

services:
    routerFactory: Tests\Functional\Fixtures\RouterFactory
    router: @routerFactory::create()
    articleFilterIn:
        class: Tests\Functional\Fixtures\ArticleFilterIn
        tags:
            arachne.entityLoader.filterIn:
                - Tests\Functional\Fixtures\Article
    articleFilterOut:
        class: Tests\Functional\Fixtures\ArticleFilterOut
        tags:
            arachne.entityLoader.filterOut:
                - Tests\Functional\Fixtures\Article
