extensions:
    codeception.http: Contributte\Codeception\DI\HttpExtension
    arachne.serviceCollections: Arachne\ServiceCollections\DI\ServiceCollectionsExtension
    arachne.entityLoader: Arachne\EntityLoader\DI\EntityLoaderExtension
    contributte.cache: Contributte\Cache\DI\CacheFactoryExtension
    contributte.eventDispatcher: Contributte\EventDispatcher\DI\EventDispatcherExtension
    contributte.eventDispatcher.extra.application: Contributte\Events\Extra\DI\EventApplicationBridgeExtension
    nette.application: Nette\Bridges\ApplicationDI\ApplicationExtension
    nette.cache: Nette\Bridges\CacheDI\CacheExtension( %tempDir% )
    nette.http: Nette\Bridges\HttpDI\HttpExtension
    nette.session: Nette\Bridges\HttpDI\SessionExtension

nette.application:
    catchExceptions: false
    mapping:
        *: Tests\Functional\Fixtures\*Presenter

services:
    routerFactory: Tests\Functional\Fixtures\RouterFactory
    router: @routerFactory::create()
    articleFilterIn:
        class: Tests\Functional\Fixtures\ArticleFilterIn
        tags:
            arachne.entityLoader.filterIn:
                - Tests\Functional\Fixtures\Article
    articleFilterOut:
        class: Tests\Functional\Fixtures\ArticleFilterOut
        tags:
            arachne.entityLoader.filterOut:
                - Tests\Functional\Fixtures\Article
