extensions:
	arachne.EntityLoader: Arachne\EntityLoader\DI\EntityLoaderExtension

nette:
	application:
		mapping:
			*: Tests\Integration\Classes\*Presenter

services:
	routerFactory: Tests\Integration\Classes\RouterFactory
	router: @routerFactory::create()
	articleConverter:
		class: Tests\Integration\Classes\ArticleConverter
		tags:
			arachne.entityLoader.converter:
				- Tests\Integration\Classes\Article
